.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/进阶7.0/阶段八 面试指导+前端面试题/02.第三章 Vue面试题精讲/02-知识点讲义/第6 Vue服务端渲染/0额外其它笔记/
