<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>登录</h1>
    <!-- // 登录接口地址 -->
    <form action="/api/login" method="POST">  
        用户名：<input name="username" type="text">
        <br>
        密码：<input name="password" type="text">
        <br>
        <button type="submit">登录</button>
    </form>
</body>
</html>